<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>taskid</key>
		<string>1</string>
		<key>tasktype</key>
		<string>1</string>
		<key>taskcontent</key>
		<string>炮二平五(中炮)开局</string>
		<key>ailevel</key>
		<string>1-3</string>
		<key>taskprobability</key>
		<string>0.9</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>2</string>
		<key>tasktype</key>
		<string>1</string>
		<key>taskcontent</key>
		<string>马二进三(起马)开局</string>
		<key>ailevel</key>
		<string>1-3</string>
		<key>taskprobability</key>
		<string>0.9</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>3</string>
		<key>tasktype</key>
		<string>1</string>
		<key>taskcontent</key>
		<string>相三进五(飞相)开局</string>
		<key>ailevel</key>
		<string>4-7</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>4</string>
		<key>tasktype</key>
		<string>1</string>
		<key>taskcontent</key>
		<string>炮二平三(兵底炮)开局</string>
		<key>ailevel</key>
		<string>4-7</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>5</string>
		<key>tasktype</key>
		<string>1</string>
		<key>taskcontent</key>
		<string>炮二平七(金钩炮)开局</string>
		<key>ailevel</key>
		<string>4-7</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>6</string>
		<key>tasktype</key>
		<string>1</string>
		<key>taskcontent</key>
		<string>炮二平六(过宫炮)开局</string>
		<key>ailevel</key>
		<string>4-7</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>7</string>
		<key>tasktype</key>
		<string>1</string>
		<key>taskcontent</key>
		<string>炮二平四(仕角炮)开局</string>
		<key>ailevel</key>
		<string>4-7</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>8</string>
		<key>tasktype</key>
		<string>1</string>
		<key>taskcontent</key>
		<string>士四进五(上士)开局</string>
		<key>ailevel</key>
		<string>4-7</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>9</string>
		<key>tasktype</key>
		<string>1</string>
		<key>taskcontent</key>
		<string>兵七进一(仙人指路)开局</string>
		<key>ailevel</key>
		<string>8-11</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>10</string>
		<key>tasktype</key>
		<string>1</string>
		<key>taskcontent</key>
		<string>马二进一(边马)开局</string>
		<key>ailevel</key>
		<string>8-11</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>11</string>
		<key>tasktype</key>
		<string>1</string>
		<key>taskcontent</key>
		<string>炮二进二(巡河炮)开局</string>
		<key>ailevel</key>
		<string>8-11</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>12</string>
		<key>tasktype</key>
		<string>1</string>
		<key>taskcontent</key>
		<string>炮八退一(龟背炮)开局</string>
		<key>ailevel</key>
		<string>8-11</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>13</string>
		<key>tasktype</key>
		<string>1</string>
		<key>taskcontent</key>
		<string>炮二进四(过河炮)开局</string>
		<key>ailevel</key>
		<string>8-11</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>14</string>
		<key>tasktype</key>
		<string>1</string>
		<key>taskcontent</key>
		<string>兵九进一(九尾龟)开局</string>
		<key>ailevel</key>
		<string>12-15</string>
		<key>taskprobability</key>
		<string>0.2</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>15</string>
		<key>tasktype</key>
		<string>1</string>
		<key>taskcontent</key>
		<string>炮二平一(边炮)开局</string>
		<key>ailevel</key>
		<string>12-15</string>
		<key>taskprobability</key>
		<string>0.2</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>16</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>20回合内，红方存活1个过河炮</string>
		<key>ailevel</key>
		<string>1-3</string>
		<key>taskprobability</key>
		<string>0.9</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>17</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>20回合内，红方存活1个过河兵</string>
		<key>ailevel</key>
		<string>1-3</string>
		<key>taskprobability</key>
		<string>0.9</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>18</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>20回合内，红方存活1个过河马</string>
		<key>ailevel</key>
		<string>1-3</string>
		<key>taskprobability</key>
		<string>0.9</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>19</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>20回合内，红方士象全</string>
		<key>ailevel</key>
		<string>1-3</string>
		<key>taskprobability</key>
		<string>0.9</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>20</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>20回合内，红方存活双车</string>
		<key>ailevel</key>
		<string>4-7</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>21</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>20回合内，红方存活双马</string>
		<key>ailevel</key>
		<string>4-7</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>22</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>20回合内，红方存活双炮</string>
		<key>ailevel</key>
		<string>4-7</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>23</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>20回合内，红方存活四个兵</string>
		<key>ailevel</key>
		<string>4-7</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>24</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>20回合内，红方双车过河</string>
		<key>ailevel</key>
		<string>8-11</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>25</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>20回合内，红方双炮过河</string>
		<key>ailevel</key>
		<string>8-11</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>26</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>40回合内，红方双车过河</string>
		<key>ailevel</key>
		<string>8-11</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>27</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>20回合内，红方双马过河</string>
		<key>ailevel</key>
		<string>8-11</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>28</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>40回合内，红方双炮存活</string>
		<key>ailevel</key>
		<string>8-11</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>29</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>40回合内，红方双马过河</string>
		<key>ailevel</key>
		<string>8-11</string>
		<key>taskprobability</key>
		<string>0.6</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>30</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>40回合内，红方士象全</string>
		<key>ailevel</key>
		<string>12-15</string>
		<key>taskprobability</key>
		<string>0.4</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>31</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>40回合内，红方存活3个兵</string>
		<key>ailevel</key>
		<string>12-15</string>
		<key>taskprobability</key>
		<string>0.4</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>32</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>40回合内，红方2个过河兵</string>
		<key>ailevel</key>
		<string>12-15</string>
		<key>taskprobability</key>
		<string>0.4</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>33</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>40回合内，用马连续照将两次</string>
		<key>ailevel</key>
		<string>12-15</string>
		<key>taskprobability</key>
		<string>0.4</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>34</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>40回合内，黑方士象全</string>
		<key>ailevel</key>
		<string>12-15</string>
		<key>taskprobability</key>
		<string>0.4</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>35</string>
		<key>tasktype</key>
		<string>2</string>
		<key>taskcontent</key>
		<string>40回合内，黑方存活3个兵</string>
		<key>ailevel</key>
		<string>12-15</string>
		<key>taskprobability</key>
		<string>0.4</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>36</string>
		<key>tasktype</key>
		<string>3</string>
		<key>taskcontent</key>
		<string>红方胜利</string>
		<key>ailevel</key>
		<string>1-3</string>
		<key>taskprobability</key>
		<string>0.9</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>37</string>
		<key>tasktype</key>
		<string>3</string>
		<key>taskcontent</key>
		<string>最后移动炮完成绝杀</string>
		<key>ailevel</key>
		<string>4-11</string>
		<key>taskprobability</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>38</string>
		<key>tasktype</key>
		<string>3</string>
		<key>taskcontent</key>
		<string>最后移动兵完成绝杀</string>
		<key>ailevel</key>
		<string>4-11</string>
		<key>taskprobability</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>39</string>
		<key>tasktype</key>
		<string>3</string>
		<key>taskcontent</key>
		<string>最后移动车完成绝杀</string>
		<key>ailevel</key>
		<string>4-11</string>
		<key>taskprobability</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>40</string>
		<key>tasktype</key>
		<string>3</string>
		<key>taskcontent</key>
		<string>最后移动马完成绝杀</string>
		<key>ailevel</key>
		<string>4-11</string>
		<key>taskprobability</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>taskid</key>
		<string>41</string>
		<key>tasktype</key>
		<string>3</string>
		<key>taskcontent</key>
		<string>使用双炮照将完成绝杀</string>
		<key>ailevel</key>
		<string>12-15</string>
		<key>taskprobability</key>
		<string>0.1</string>
	</dict>
    <dict>
        <key>taskid</key>
        <string>42</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>20回合内，黑方存活1个过河炮</string>
        <key>ailevel</key>
        <string>1-3</string>
        <key>taskprobability</key>
        <string>0.9</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>43</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>20回合内，黑方存活1个过河兵</string>
        <key>ailevel</key>
        <string>1-3</string>
        <key>taskprobability</key>
        <string>0.9</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>44</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>20回合内，黑方存活1个过河马</string>
        <key>ailevel</key>
        <string>1-3</string>
        <key>taskprobability</key>
        <string>0.9</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>45</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>20回合内，黑方士象全</string>
        <key>ailevel</key>
        <string>1-3</string>
        <key>taskprobability</key>
        <string>0.9</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>46</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>20回合内，黑方存活双车</string>
        <key>ailevel</key>
        <string>4-7</string>
        <key>taskprobability</key>
        <string>0.6</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>47</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>20回合内，黑方存活双马</string>
        <key>ailevel</key>
        <string>4-7</string>
        <key>taskprobability</key>
        <string>0.6</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>48</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>20回合内，黑方存活双炮</string>
        <key>ailevel</key>
        <string>4-7</string>
        <key>taskprobability</key>
        <string>0.6</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>49</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>20回合内，黑方存活四个兵</string>
        <key>ailevel</key>
        <string>4-7</string>
        <key>taskprobability</key>
        <string>0.6</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>50</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>20回合内，黑方双车过河</string>
        <key>ailevel</key>
        <string>8-11</string>
        <key>taskprobability</key>
        <string>0.6</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>51</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>20回合内，黑方双炮过河</string>
        <key>ailevel</key>
        <string>8-11</string>
        <key>taskprobability</key>
        <string>0.6</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>52</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>40回合内，黑方双车过河</string>
        <key>ailevel</key>
        <string>8-11</string>
        <key>taskprobability</key>
        <string>0.6</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>53</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>20回合内，黑方双马过河</string>
        <key>ailevel</key>
        <string>8-11</string>
        <key>taskprobability</key>
        <string>0.6</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>54</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>40回合内，黑方双炮存活</string>
        <key>ailevel</key>
        <string>8-11</string>
        <key>taskprobability</key>
        <string>0.6</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>55</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>40回合内，黑方双马过河</string>
        <key>ailevel</key>
        <string>8-11</string>
        <key>taskprobability</key>
        <string>0.6</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>56</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>40回合内，黑方士象全</string>
        <key>ailevel</key>
        <string>12-15</string>
        <key>taskprobability</key>
        <string>0.4</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>57</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>40回合内，黑方存活3个兵</string>
        <key>ailevel</key>
        <string>12-15</string>
        <key>taskprobability</key>
        <string>0.4</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>58</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>40回合内，黑方2个过河兵</string>
        <key>ailevel</key>
        <string>12-15</string>
        <key>taskprobability</key>
        <string>0.4</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>59</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>40回合内，用马连续照将两次</string>
        <key>ailevel</key>
        <string>12-15</string>
        <key>taskprobability</key>
        <string>0.4</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>60</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>40回合内，红方士象全</string>
        <key>ailevel</key>
        <string>12-15</string>
        <key>taskprobability</key>
        <string>0.4</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>61</string>
        <key>tasktype</key>
        <string>5</string>
        <key>taskcontent</key>
        <string>40回合内，红方存活3个兵</string>
        <key>ailevel</key>
        <string>12-15</string>
        <key>taskprobability</key>
        <string>0.4</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>62</string>
        <key>tasktype</key>
        <string>6</string>
        <key>taskcontent</key>
        <string>黑方胜利</string>
        <key>ailevel</key>
        <string>1-3</string>
        <key>taskprobability</key>
        <string>0.9</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>63</string>
        <key>tasktype</key>
        <string>6</string>
        <key>taskcontent</key>
        <string>最后移动炮完成绝杀</string>
        <key>ailevel</key>
        <string>4-11</string>
        <key>taskprobability</key>
        <string>0.8</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>64</string>
        <key>tasktype</key>
        <string>6</string>
        <key>taskcontent</key>
        <string>最后移动兵完成绝杀</string>
        <key>ailevel</key>
        <string>4-11</string>
        <key>taskprobability</key>
        <string>0.8</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>65</string>
        <key>tasktype</key>
        <string>6</string>
        <key>taskcontent</key>
        <string>最后移动车完成绝杀</string>
        <key>ailevel</key>
        <string>4-11</string>
        <key>taskprobability</key>
        <string>0.8</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>66</string>
        <key>tasktype</key>
        <string>6</string>
        <key>taskcontent</key>
        <string>最后移动马完成绝杀</string>
        <key>ailevel</key>
        <string>4-11</string>
        <key>taskprobability</key>
        <string>0.8</string>
    </dict>
    <dict>
        <key>taskid</key>
        <string>67</string>
        <key>tasktype</key>
        <string>6</string>
        <key>taskcontent</key>
        <string>使用双炮照将完成绝杀</string>
        <key>ailevel</key>
        <string>12-15</string>
        <key>taskprobability</key>
        <string>0.1</string>
    </dict>
</array>
</plist>
